.app-section {
  position: relative;
}

html {
  scroll-behavior: smooth;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #000000;
  overflow: hidden;
  z-index: -3;
}

.background span {
  width: 1vmin;
  height: 1vmin;
  border-radius: 1vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 35;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #20b2aa;
  top: 77%;
  left: 45%;
  animation-duration: 53s;
  animation-delay: -114s;
  transform-origin: -4vw 19vh;
  box-shadow: -2vmin 0 0.9960056581096259vmin currentColor;
}

.background span:nth-child(1) {
  color: #add8e6;
  top: 15%;
  left: 23%;
  animation-duration: 89s;
  animation-delay: -35s;
  transform-origin: 16vw 21vh;
  box-shadow: -2vmin 0 0.5448443231253783vmin currentColor;
}

.background span:nth-child(2) {
  color: #add8e6;
  top: 83%;
  left: 49%;
  animation-duration: 33s;
  animation-delay: -90s;
  transform-origin: -4vw 4vh;
  box-shadow: 2vmin 0 0.6039255423429934vmin currentColor;
}

.background span:nth-child(3) {
  color: #ffffff;
  top: 76%;
  left: 28%;
  animation-duration: 117s;
  animation-delay: -7s;
  transform-origin: 22vw 22vh;
  box-shadow: 2vmin 0 0.4118111331639882vmin currentColor;
}

.background span:nth-child(4) {
  color: #add8e6;
  top: 41%;
  left: 3%;
  animation-duration: 62s;
  animation-delay: -91s;
  transform-origin: 7vw 14vh;
  box-shadow: 2vmin 0 1.005336474950928vmin currentColor;
}

.background span:nth-child(5) {
  color: #ffffff;
  top: 7%;
  left: 40%;
  animation-duration: 73s;
  animation-delay: -36s;
  transform-origin: 4vw -24vh;
  box-shadow: -2vmin 0 1.029528774929113vmin currentColor;
}

.background span:nth-child(6) {
  color: #add8e6;
  top: 23%;
  left: 2%;
  animation-duration: 109s;
  animation-delay: -54s;
  transform-origin: -22vw 8vh;
  box-shadow: 2vmin 0 0.508316625707878vmin currentColor;
}

.background span:nth-child(7) {
  color: #20b2aa;
  top: 76%;
  left: 91%;
  animation-duration: 81s;
  animation-delay: -36s;
  transform-origin: -10vw -1vh;
  box-shadow: -2vmin 0 0.9710879957905363vmin currentColor;
}

.background span:nth-child(8) {
  color: #add8e6;
  top: 79%;
  left: 14%;
  animation-duration: 116s;
  animation-delay: -93s;
  transform-origin: -14vw -1vh;
  box-shadow: -2vmin 0 0.3214440736730113vmin currentColor;
}

.background span:nth-child(9) {
  color: #20b2aa;
  top: 42%;
  left: 41%;
  animation-duration: 84s;
  animation-delay: -80s;
  transform-origin: -18vw 24vh;
  box-shadow: 2vmin 0 0.5645079059566813vmin currentColor;
}

.background span:nth-child(10) {
  color: #add8e6;
  top: 37%;
  left: 27%;
  animation-duration: 77s;
  animation-delay: -96s;
  transform-origin: 4vw 20vh;
  box-shadow: 2vmin 0 0.6061006982918649vmin currentColor;
}

.background span:nth-child(11) {
  color: #add8e6;
  top: 12%;
  left: 77%;
  animation-duration: 77s;
  animation-delay: -43s;
  transform-origin: 14vw -17vh;
  box-shadow: -2vmin 0 0.733079627022061vmin currentColor;
}

.background span:nth-child(12) {
  color: #add8e6;
  top: 60%;
  left: 83%;
  animation-duration: 151s;
  animation-delay: -60s;
  transform-origin: -13vw -3vh;
  box-shadow: -2vmin 0 0.6517919526560847vmin currentColor;
}

.background span:nth-child(13) {
  color: #add8e6;
  top: 22%;
  left: 84%;
  animation-duration: 101s;
  animation-delay: -62s;
  transform-origin: -17vw 3vh;
  box-shadow: 2vmin 0 0.722252826711185vmin currentColor;
}

.background span:nth-child(14) {
  color: #add8e6;
  top: 56%;
  left: 7%;
  animation-duration: 108s;
  animation-delay: -79s;
  transform-origin: 12vw 8vh;
  box-shadow: 2vmin 0 0.7672233117217861vmin currentColor;
}

.background span:nth-child(15) {
  color: #add8e6;
  top: 54%;
  left: 68%;
  animation-duration: 145s;
  animation-delay: -48s;
  transform-origin: 12vw -2vh;
  box-shadow: 2vmin 0 0.4227358375179069vmin currentColor;
}

.background span:nth-child(16) {
  color: #ffffff;
  top: 70%;
  left: 88%;
  animation-duration: 48s;
  animation-delay: -91s;
  transform-origin: 12vw 10vh;
  box-shadow: 2vmin 0 0.3183276689685408vmin currentColor;
}

.background span:nth-child(17) {
  color: #ffffff;
  top: 36%;
  left: 88%;
  animation-duration: 16s;
  animation-delay: -88s;
  transform-origin: 17vw 21vh;
  box-shadow: 2vmin 0 0.6850891541150697vmin currentColor;
}

.background span:nth-child(18) {
  color: #ffffff;
  top: 71%;
  left: 61%;
  animation-duration: 65s;
  animation-delay: -115s;
  transform-origin: -19vw 12vh;
  box-shadow: 2vmin 0 0.6890052337084454vmin currentColor;
}

.background span:nth-child(19) {
  color: #add8e6;
  top: 52%;
  left: 67%;
  animation-duration: 145s;
  animation-delay: -69s;
  transform-origin: -14vw -8vh;
  box-shadow: -2vmin 0 0.8269258688595178vmin currentColor;
}

.background span:nth-child(20) {
  color: #ffffff;
  top: 34%;
  left: 2%;
  animation-duration: 150s;
  animation-delay: -100s;
  transform-origin: 15vw -17vh;
  box-shadow: -2vmin 0 0.4817625082332595vmin currentColor;
}

.background span:nth-child(21) {
  color: #ffffff;
  top: 38%;
  left: 73%;
  animation-duration: 77s;
  animation-delay: -150s;
  transform-origin: -12vw -11vh;
  box-shadow: 2vmin 0 0.9716666640291831vmin currentColor;
}

.background span:nth-child(22) {
  color: #20b2aa;
  top: 60%;
  left: 69%;
  animation-duration: 85s;
  animation-delay: -13s;
  transform-origin: -19vw -22vh;
  box-shadow: 2vmin 0 0.9855654652384329vmin currentColor;
}

.background span:nth-child(23) {
  color: #20b2aa;
  top: 15%;
  left: 67%;
  animation-duration: 149s;
  animation-delay: -25s;
  transform-origin: -8vw -14vh;
  box-shadow: -2vmin 0 0.9559919622084525vmin currentColor;
}

.background span:nth-child(24) {
  color: #add8e6;
  top: 31%;
  left: 83%;
  animation-duration: 149s;
  animation-delay: -17s;
  transform-origin: 4vw -24vh;
  box-shadow: -2vmin 0 0.8814562764791662vmin currentColor;
}

.background span:nth-child(25) {
  color: #add8e6;
  top: 22%;
  left: 14%;
  animation-duration: 133s;
  animation-delay: -49s;
  transform-origin: 24vw 24vh;
  box-shadow: 2vmin 0 0.6735175161017299vmin currentColor;
}

.background span:nth-child(26) {
  color: #20b2aa;
  top: 93%;
  left: 12%;
  animation-duration: 91s;
  animation-delay: -1s;
  transform-origin: 3vw 8vh;
  box-shadow: 2vmin 0 0.8533781430738112vmin currentColor;
}

.background span:nth-child(27) {
  color: #ffffff;
  top: 52%;
  left: 7%;
  animation-duration: 147s;
  animation-delay: -94s;
  transform-origin: -16vw 25vh;
  box-shadow: -2vmin 0 1.08679342568405vmin currentColor;
}

.background span:nth-child(28) {
  color: #add8e6;
  top: 14%;
  left: 99%;
  animation-duration: 110s;
  animation-delay: -4s;
  transform-origin: 6vw 2vh;
  box-shadow: 2vmin 0 0.904373729125137vmin currentColor;
}

.background span:nth-child(29) {
  color: #add8e6;
  top: 77%;
  left: 44%;
  animation-duration: 66s;
  animation-delay: -35s;
  transform-origin: 23vw 20vh;
  box-shadow: -2vmin 0 0.6358553708826451vmin currentColor;
}

.background span:nth-child(30) {
  color: #add8e6;
  top: 66%;
  left: 42%;
  animation-duration: 23s;
  animation-delay: -12s;
  transform-origin: -3vw -4vh;
  box-shadow: 2vmin 0 0.5439855215118699vmin currentColor;
}

.background span:nth-child(31) {
  color: #20b2aa;
  top: 65%;
  left: 66%;
  animation-duration: 88s;
  animation-delay: -124s;
  transform-origin: 23vw -14vh;
  box-shadow: 2vmin 0 0.6012097101992737vmin currentColor;
}

.background span:nth-child(32) {
  color: #add8e6;
  top: 8%;
  left: 80%;
  animation-duration: 41s;
  animation-delay: -4s;
  transform-origin: -18vw 15vh;
  box-shadow: 2vmin 0 0.6827765382276301vmin currentColor;
}

.background span:nth-child(33) {
  color: #ffffff;
  top: 44%;
  left: 41%;
  animation-duration: 87s;
  animation-delay: -112s;
  transform-origin: 16vw 4vh;
  box-shadow: 2vmin 0 0.5845309593511598vmin currentColor;
}

.background span:nth-child(34) {
  color: #add8e6;
  top: 52%;
  left: 55%;
  animation-duration: 57s;
  animation-delay: -17s;
  transform-origin: 10vw -6vh;
  box-shadow: 2vmin 0 1.0368699099873215vmin currentColor;
}

.background span:nth-child(35) {
  color: #ffffff;
  top: 74%;
  left: 48%;
  animation-duration: 47s;
  animation-delay: -77s;
  transform-origin: 19vw 4vh;
  box-shadow: -2vmin 0 1.0959770194151377vmin currentColor;
}

.background span:nth-child(36) {
  color: #ffffff;
  top: 92%;
  left: 59%;
  animation-duration: 46s;
  animation-delay: -80s;
  transform-origin: 22vw -18vh;
  box-shadow: -2vmin 0 1.1096962766197207vmin currentColor;
}

.background span:nth-child(37) {
  color: #20b2aa;
  top: 50%;
  left: 35%;
  animation-duration: 95s;
  animation-delay: -17s;
  transform-origin: -16vw -4vh;
  box-shadow: 2vmin 0 1.1103862002622185vmin currentColor;
}

.background span:nth-child(38) {
  color: #add8e6;
  top: 94%;
  left: 65%;
  animation-duration: 22s;
  animation-delay: -94s;
  transform-origin: 5vw -12vh;
  box-shadow: -2vmin 0 0.8066304137988636vmin currentColor;
}

.background span:nth-child(39) {
  color: #add8e6;
  top: 56%;
  left: 75%;
  animation-duration: 69s;
  animation-delay: -130s;
  transform-origin: 20vw -14vh;
  box-shadow: -2vmin 0 0.8839920101071508vmin currentColor;
}

.background span:nth-child(40) {
  color: #20b2aa;
  top: 73%;
  left: 54%;
  animation-duration: 106s;
  animation-delay: -53s;
  transform-origin: -22vw -1vh;
  box-shadow: -2vmin 0 0.36119752127650884vmin currentColor;
}

.background span:nth-child(41) {
  color: #add8e6;
  top: 84%;
  left: 79%;
  animation-duration: 147s;
  animation-delay: -32s;
  transform-origin: 20vw 22vh;
  box-shadow: 2vmin 0 0.4397796689396771vmin currentColor;
}

.background span:nth-child(42) {
  color: #20b2aa;
  top: 44%;
  left: 17%;
  animation-duration: 66s;
  animation-delay: -61s;
  transform-origin: 11vw 17vh;
  box-shadow: -2vmin 0 1.1633018879106363vmin currentColor;
}

.background span:nth-child(43) {
  color: #20b2aa;
  top: 91%;
  left: 39%;
  animation-duration: 139s;
  animation-delay: -5s;
  transform-origin: 10vw -23vh;
  box-shadow: 2vmin 0 0.8809024215407104vmin currentColor;
}

.background span:nth-child(44) {
  color: #ffffff;
  top: 98%;
  left: 34%;
  animation-duration: 149s;
  animation-delay: -59s;
  transform-origin: 4vw 17vh;
  box-shadow: -2vmin 0 0.37425236038694143vmin currentColor;
}

.background span:nth-child(45) {
  color: #ffffff;
  top: 99%;
  left: 62%;
  animation-duration: 152s;
  animation-delay: -64s;
  transform-origin: -9vw 5vh;
  box-shadow: -2vmin 0 0.589541019843405vmin currentColor;
}

.background span:nth-child(46) {
  color: #20b2aa;
  top: 53%;
  left: 2%;
  animation-duration: 83s;
  animation-delay: -1s;
  transform-origin: -1vw -1vh;
  box-shadow: -2vmin 0 0.5355440719055153vmin currentColor;
}

.background span:nth-child(47) {
  color: #20b2aa;
  top: 15%;
  left: 60%;
  animation-duration: 46s;
  animation-delay: -44s;
  transform-origin: -17vw 14vh;
  box-shadow: -2vmin 0 0.37324321160688956vmin currentColor;
}

.background span:nth-child(48) {
  color: #add8e6;
  top: 56%;
  left: 8%;
  animation-duration: 112s;
  animation-delay: -127s;
  transform-origin: 6vw 1vh;
  box-shadow: -2vmin 0 1.087870811310323vmin currentColor;
}

.background span:nth-child(49) {
  color: #20b2aa;
  top: 91%;
  left: 20%;
  animation-duration: 104s;
  animation-delay: -131s;
  transform-origin: -4vw -6vh;
  box-shadow: -2vmin 0 0.9568380773252794vmin currentColor;
}