header {
    position: sticky;
    top:0;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(54, 121, 117);
    margin:0;
    z-index: 10;
    box-shadow: 0 5px 5px rgb(49, 97, 91);
}

.logo h {
  font-size: 18px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 800;
  margin: 10px;
}

nav {
    display: flex;
    gap: 1.5rem;
    margin-right: 1.5rem;
    margin:10px;
}

nav a {
  font-size: 18px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

nav a:focus,
nav a:hover {
  color: #535353;
}

nav a:focus:after,
nav a:hover:after {
  width: 100%;
  left: 0%;
}

nav a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: lightskyblue;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.logo {
    display:flex;
    align-items:center;
}

.logo img{
    height: 40px;
    width: auto;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}