header {
    position: sticky;
    top:0;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(59, 69, 97);
    margin:0;
    z-index: 10;
}


nav {
    display: flex;
    gap: 1.5rem;
    margin-right: 1.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  
  nav a::before {
    margin-left: auto;
  }
  
  nav a::after, button::before {
    content: '';
    width: 0%;
    height: 2px;
    background: lightskyblue;
    display: block;
    transition: 0.5s;
  }
  
  nav a:hover::after, nav a:hover::before {
    width: 100%;
  }

.logo {
    display:flex;
    align-items:center;
    gap: 1rem;
}

.logo img{
    height: 50px;
    width: auto;
}