.project-section {
    z-index: 0;
}

.project-header {
    text-align: center;
}

.project-header h {
    display: inline-block;
    color: white;
    font-size: 35px;
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    --a: -45deg;
    --t: 8px;
    --_s: calc(var(--t)*cos(var(--a)));
    background: linear-gradient(var(--a), #0000 var(--_s), lightskyblue 0 calc(100% - var(--_s)), #0000 0) bottom/var(--i, 95%) var(--t) no-repeat;
    padding: 5px;
}

.allProjects {
    display: flex;
    flex-direction: column;
    gap: 125px;
    margin: 100px;
    font-family: 'Brush Script MT', cursive;
}

.allProjects>* {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    width: 800px;
    height: 500px;
    border: 5px solid aliceblue;
}

.joystickInsight {
    background-color: lightseagreen;
}

.joystickInfo {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
}

.joystickInfo img {
    height: 300px;
}

.portfolio {
    background-color: lightskyblue;
    margin-left: auto;
}

.portfolioInfo {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

.portfolioInfo img {
    height: 300px;
    border-radius: 50px;
}

.PowerV2G {
    background-color: grey;
}

.POwerV2GInfo {
    position: relative;
    display: flex;
    align-items: center;
    margin: 50px;
}