.project-section{
    z-index:0;
}

.header{
    text-align:center;
}

h3 {
    display:inline-block;
    color:beige;
    border-bottom: 3px solid lightblue;
    font-size: 35px;
}

.project1{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin: 200px;
    gap: 100px;
}



h4 {
    font-size: 20px;
    color:beige;
}





