.project-section{
    z-index:1;
}

.header{
    text-align:center;
}

h3 {
    display:inline-block;
    color:beige;
    border-bottom: 3px solid lightblue;
    font-size: 35px;
}

.project1{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}



h4 {
    font-size: 20px;
    color:beige;
}




